<% provide(:button_text, 'Create Contract') %>

<div class="contract-content">
	<div class="contract-note">
		<h3>Note</h3>
		<div class="contract-note-content">
			If you has problem. Please contact to admin at email, or phone-number below.
		</div>
		<div class="phone-number">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+84432354324
		</div>
		<div class="email">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>nhom495ITSS@gmail.com
		</div>
	</div>
	<div class="contract-form">
		<%= form_for(@contract) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<h1>Contract Agreement</h1>
			<hr>
			<div class="between">
				<div class="title">Between:</div>
				<ul>
					<li>
						A. 
						<div class="base-infor">
							<div class="infor-item">
								<div class="sub-title">Email:</div>
								<p class="infor-detail"> <%= current_user.email %></p>
							</div>
							<div class="infor-item">
								<div class="sub-title">Bank Account:</div>
								<p class="infor-detail"><%= f.text_field :bank_account_a, placeholder:"Bank Account A" %></p>
							</div>
						</div>
					</li>
					<li>
						B.
						<div class="base-infor">
							<div class="infor-item">
								<div class="sub-title">Email:</div>
								<p class="infor-detail">
									<% @messages = @request.messages %>
									<% if @messages.empty? %>
									<% else %>
										<%= f.select(:user_id) do %>
											<% @messages.each do |message| %>
												<% @user = User.find_by(id: message.user_id) %>
												<%= content_tag(:option, @user.email, value: @user.id) %>
											<% end %>
										<% end %> 
									<% end %>
								</p>
							</div>
							<div class="infor-item">
								<div class="sub-title">Bank Account:</div>
								<p class="infor-detail"><%= f.text_field :bank_account_b, placeholder: "Bank Account B" %></b></p>
							</div>
						</div> 
					</li>
				</ul>
			</div>
			<div class="price">
				<div class="title">Price: </div>
				<div id="price-input" class="input-group">
					<%= f.number_field :price, placeholder: "Price" %>
					<span class="input-group-addon"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
				</div>
			</div>
			<div class="date">
				<div class="title">Deadline: </div>
				<div id="date-input">
					<%= f.date_field :deadline %>
				</div>
			</div>
			<%= f.hidden_field :request_id, :value=> @request.id %>
			<div class="content">
				<div class="title">Content:</div>
				<%= f.text_area :content, placeholder: "Content ..." %>
			</div>
			<%= f.submit yield(:button_text), class: "btn btn-primary", data:{ confirm: "This step will take money from your bank account"} %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	var usedNames = {};
	$("select > option").each(function(){
		if(usedNames[this.text]) {
			$(this).remove();
		} 
		else {
			usedNames[this.text] = this.value;
		}
	});
</script>