<%= form_for(@contract) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>
	<h1>A side </h1>
	<p>Email: <%= current_user.email %></p>
	<p>Bank Account: <%= f.text_field :bank_account_a, placeholder:"bank_account_a" %></p>
	<h1>B side</h1>
	<p>Email: <%= f.select(:user_id) do %>
		<% users = User.find_by_sql("SELECT * FROM users WHERE id != #{current_user.id}") %>
		<% users.each do |c| %>
			<%= content_tag(:option ,c.email,value: c.id) %>
		<% end %>
	<% end %> </p>
	<p>Bank Account: <%= f.text_field :bank_account_b, placeholder: "bank_account_b" %></b>
	<%= f.date_field :deadline %>
	<%= f.hidden_field :request_id, :value=> @request.id %>
	<%= f.text_area :content, placeholder: "Content" %>
	<%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
