<div class="contract-content">
	<div class="contract-note">
		<h3>Note</h3>
		<div class="contract-note-content">
			If you has problem. Please contact to admin at email, or phone-number below.
		</div>
		<div class="phone-number">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+84432354324
		</div>
		<div class="email">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>nhom495ITSS@gmail.com
		</div>
	</div>
	<div class="contract-form">
		<h1>Contract Agreement</h1>
		<hr>
		<div class="between">
			<div class="title">Between:</div>
			<ul>
				<li>
					A. 
					<div class="base-infor">
						<div class="infor-item">
							<div class="sub-title">Email:</div>
							<p class="infor-detail"> <%= @customer.email %></p>
						</div>
						<div class="infor-item">
							<div class="sub-title">Bank Account:</div>
							<p class="infor-detail"><%= @contract.bank_account_a %></p>
						</div>
					</div>
				</li>
				<li>
					B.
					<div class="base-infor">
						<div class="infor-item">
							<div class="sub-title">Email:</div>
							<p class="infor-detail">
								<%= @shipper.email %>
							</p>
						</div>
						<div class="infor-item">
							<div class="sub-title">Bank Account:</div>
							<p class="infor-detail"><%= @contract.bank_account_b %></b></p>
						</div>
					</div> 
				</li>
			</ul>
		</div>
		<div class="price">
			<div class="title">Price: </div>
			<div id="price-input">
				<%= @contract.price %> $
			</div>
		</div>
		<div class="date">
			<div class="title">Deadline: </div>
			<div id="date-input">
				<%= @contract.deadline %>
			</div>
		</div>
		<div class="content">
			<div class="title">Content:</div>
			<div class="agreement-content-detail">
				<%= @contract.content %>
			</div>
		</div>
	</div>
	<% if current_user.admin? == false %>
		<% if @request.state == 2 %>
			<% if current_user.id == @request.user_id%>
				<% if @contract.state != 2 %>
					<% @user = User.new %>
					<div class="rate-form">
						<h3>Rate</h3>
						<%= form_for(@user) do |f| %>
							<%= f.hidden_field :contract_id, :value => @contract.id %>
							<%= f.hidden_field :email, :value => @shipper.email %>
							<%= f.select(:rank) do %>
								<%= content_tag(:option, "1", value: 1) %>
								<%= content_tag(:option, "2", value: 2) %>
								<%= content_tag(:option, "3", value: 3) %>
								<%= content_tag(:option, "4", value: 4) %>
								<%= content_tag(:option, "5", value: 5) %>
							<% end %>
							<%= f.submit "Rate", class: "btn btn-primary" %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<% if current_user.id == @request.user_id %>
				<% if @shipper_report.nil? %>
					<% flash.now[:danger] = "Shipper hasn't reported" %>
				<% else %>
					<% if @customer_report.nil? %>
						<%= render "reports/report_form", contract: @contract %>
					<% end %>
				<% end %>
			<% else %>
				<% if @shipper_report.nil? %>
					<%= render "reports/report_form", contract: @contract %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>

<!-- comment -->

<h3>Mess List</h3>
<% @messages = Message.find_by_sql("select * from messages where user_id = #{@shipper.id} and request_id = #{@request.id}") %>
<% @messages.each do |m| %>
	<% if m.from == m.user_id %>
		<%= @shipper.name %>:
	<% else %>
		<%= User.find_by(id: @request.user_id).name%>:
	<% end %>
	<%= m.content %>
	<br>
<% end %>
<%= render 'messages/message_form', id: @request.id, from: current_user.id, user_id: @shipper.id, contract_id: @contract.id%>