<div class="contract-content">
	<div class="contract-note">
		<h3>Note</h3>
		<div class="contract-note-content">
			If you has problem. Please contact to admin at email, or phone-number below.
		</div>
		<div class="phone-number">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+84432354324
		</div>
		<div class="email">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>nhom495ITSS@gmail.com
		</div>
	</div>
	<div class="contract-form">
		<h1>Contract Agreement</h1>
		<hr>
		<div class="between">
			<div class="title">Between:</div>
			<ul>
				<li>
					A. 
					<div class="base-infor">
						<div class="infor-item">
							<div class="sub-title">Email:</div>
							<p class="infor-detail"><%= @customer.email %></p>
						</div>
						<div class="infor-item">
							<div class="sub-title">Bank Account:</div>
							<p class="infor-detail"><%= @contract.bank_account_a %></p>
						</div>
					</div>
				</li>
				<li>
					B.
					<div class="base-infor">
						<div class="infor-item">
							<div class="sub-title">Email:</div>
							<p class="infor-detail"><%= @shipper.email %></p>
						</div>
						<div class="infor-item">
							<div class="sub-title">Bank Account:</div>
							<p class="infor-detail"><%= @contract.bank_account_b %></b></p>
						</div>
					</div> 
				</li>
			</ul>
		</div>
		<div class="price">
			<div class="title">Price: </div>
			<div id="price-input">
				<%= @contract.price %> $
			</div>
		</div>
		<div class="date">
			<div class="title">Deadline: </div>
			<div id="date-input">
				<%= @contract.deadline %>
			</div>
		</div>
		<div class="content">
			<div class="title">Content:</div>
			<div class="agreement-content-detail">
				<%= @contract.content %>
			</div>
		</div>
	</div>
	<% if current_user.admin? == false %>
		<% if @request.state == 2 %>
			<% if current_user.id == @request.user_id%>
				<% if @contract.state != 2 %>
					<% @user = User.new %>
					<div class="rate-form">
						<h3>Rate</h3>
						<%= form_for(@user) do |f| %>
							<%= f.hidden_field :contract_id, :value => @contract.id %>
							<%= f.hidden_field :email, :value => @shipper.email %>
							<%= f.select(:rank) do %>
								<%= content_tag(:option, "1", value: 1) %>
								<%= content_tag(:option, "2", value: 2) %>
								<%= content_tag(:option, "3", value: 3) %>
								<%= content_tag(:option, "4", value: 4) %>
								<%= content_tag(:option, "5", value: 5) %>
							<% end %>
							<%= f.submit "Rate", class: "btn btn-primary" %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<div class="messages-section">
				<h3>Comments</h3>
				<div class="messages-list">
					<div class="messages-list-content">
						<% @messages = Message.find_by_sql("select * from messages 
								where user_id = #{@shipper.id} 
								and request_id = #{@request.id}") %>
						<ul>
							<% @messages.each do |message| %>
								<li>
									<% if message.from == message.user_id %>
										<%= link_to @shipper.name, @shipper %>:
									<% else %>
										<% customer = User.find_by(id: @request.user_id) %>
										<%= link_to customer.name, customer %>
									<% end %>
									<div class="message-content"><%= message.content %></div>
									<hr>
								</li>
							<% end %>
						</ul>
					</div>
					<%= render 'messages/message_form', id: @request.id, 
								from: current_user.id, user_id: @shipper.id, 
								contract_id: @contract.id%>
				</div>
			</div>
			<div class="confirm-section">
			<h3>Confirm Agreement</h3>

			<% case @contract.state %>
			<% when 0 %>
				<% if current_user?(@customer) %>
					<%= link_to "Ask shipper", root_url, class: 'btn btn-danger' %>
				<% else %>
					<%= button_to "Success send item",:controller => :contracts, :action => :shipper_confirm_agreement, :contract_id => @contract.id ,class: 'btn btn-success'%>
					<%= link_to "Cancel transaction!" ,contract_path(current_user, contract_id: @contract.id, shipper_id: @contract.user_id),:controller => :contracts, :action => :shipper_cancel, :contract_id => @contract_id, class: 'btn btn-danger' %>
				<% end %>
			<% when 1 %>
				<% if current_user?(@customer) %>
					<%= link_to "Cancel transaction!", root_url, class: 'btn btn-danger' %>
				<% end %>
			<% when 2 %>
			<% when 3 %>
				<% if current_user?(@customer) %>
				
					<%= link_to "cancel transaction!", class: 'btn btn-danger' %>
					<%= link_to "Done!",class: 'btn btn-danger', :controller => :contracts, :action => :customer_confirm_agreement %>
				<% end %>
			<% when 4 %>
			<% when 5 %>
				<% if current_user?(@shipper) %>
					<% link_to "yes",class: 'btn btn-success', :controller => :contracts %>
					<% link_to "no",class: 'btn btn-danger',:controller => :contracts %>
				<% end %>
			<% when 6 %>
				<% if current_user?(@customer) %>
					<% link_to "cancel",class: 'btn btn-danger' %>
				<% else %>
					<%= link_to "Success send tiem", class: 'btn btn-success', :controller => :contracts, :action => :shipper_confirm_agreement, :contract_id => @contract.id %>
					<%= link_to "Cancel transaction!", class: 'btn btn-danger', :controller => :contracts, :action => :shipper_cancel, :contract => @contract %>
				<% end %>
			<% when 7 %>
				<% if current_user?(@customer) %>
					<% link_to "cancel",class: 'btn btn-danger' %>
					<%= link_to "Ask shipper", root_url, class: 'btn btn-danger' %>
				<% else %>
					<%= link_to "Success send tiem", class: 'btn btn-success', :controller => :contracts, :action => :shipper_confirm_agreement, :contract_id => @contract.id %>
					<%= link_to "Cancel transaction!", class: 'btn btn-danger', :controller => :contracts, :action => :shipper_cancel, :contract => @contract %>
				<% end %>
			<% when 8 %>
			<% when 9 %>
				<% if current_user?(@shipper) %>
					<%= link_to "cancel", class: 'btn btn-danger' %>
				<% end %>
			<% end %>
			</div>
		<% end %>
	<% end %>
</div>