<li id="request-<%= request.id %>">
	<%= link_to gravatar_for(@user, size: 50), @user %>
	<span class="content">
		<span class="user"><%= link_to request.user.name, request.user %></span>
		<div class="title-quote">Want to buy:</div><%= ProductType.find(request.product_type_id).name %> 
		<br>
		<% @origin = Origin.find_by(id: request.origin_id) %>
		<div class="title-quote">From:</div><%= @origin.name %>
		<br>
		<div class="title-quote">Features:</div><%= request.content %>
		<br>
		<div class="title-quote">Price:</div><%= request.price %> $
		<br>
		<%= render 'requests/request_comment', request: request %>
	</span>
	<hr>
</li>