<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(request.user, size: 60), request.user %>
	<span class="user"><%= link_to request.user.name, request.user %></span>
	<span class="content"><%= request.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(request.created_at) %> ago.
	</span>
</li>