<li id="request-<%= request.id %>">
	<span class="user"><%= link_to request.user.name, request.user %></span>
	<span class="content"><%= request.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(request.created_at) %> ago.
		<% if current_user?(request.user) %>
	     	<%= link_to "delete", request, method: :delete,
	                                       data: { confirm: "You sure?" } %>
	    <% end %>
	</span>
</li>