<div class="form-filter-requests">
	<%= form_tag index_path, method: "get" do %>
		<div class="title"><label for="#request_origin">Origin:</label></div>
		<% origin_id_list = Origin.order("name ASC").all.map{ |origin| [origin.name, origin.id] } %>
		<% origin_id_list.unshift(["-- Country --", '0']) %>
		<%= select_tag :origin_id, options_for_select(origin_id_list) %>
		<div class="title"><label for="#request_product_type_id">Product Type:</label></div>
		<% product_type_list = ProductType.order("name ASC").all.map{ |product| [product.name, product.id] } %>
		<% product_type_list.unshift(["-- Product --", '0']) %>
		<%= select_tag :product_type_id, options_for_select(product_type_list) %>
		<br>
		<%= submit_tag "Find", class: "btn btn-primary" %>
	<% end %>
</div>
<div class="list-all-requests">
	<% if @requests.nil? == false %>
		<% @requests.each do |request| %>
			<% @user = User.find_by(id: request.user_id) %>
			<%= link_to gravatar_for(@user, size: 50), @user %>
			<span class="content">
				<span class="user"><%= link_to @user.name, @user %></span>
				<div class="title-quote">Want to buy:</div><%= ProductType.find_by(id: request.product_type_id).name %><br>
				<div class="title-quote">From:</div><%= Origin.find_by(id: request.origin_id).name %><br>
				<div class="title-quote">Price:</div><%= request.price %> $<br>
				<div class="title-quote">Features:</div><%= request.content %><br>
				<%= render 'requests/request_comment', request: request %>
			</span>
			<hr>
		<% end %>
		<%= will_paginate @requests %>
	<% end %>
</div>