<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section >
			<% if current_user.id == @user.id %>
				<%= render 'shared/request_form'%>
			<% end %>
		</section>
	</aside>
	<div class="col-md-8">
		<% if @user.requests.any? %>
			<h3>Requests(<%= @user.requests.count %>)</h3>
			<ol class="requests">
				<%= render @requests %>
			</ol>
				<%= will_paginate @requests %>
		<% end %>
	</div>
	<% if current_user.id == @user.id %>
		<%= link_to "New Contract" , "/contract" %>	
	<% end %>
</div>