<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user-info">
			<div class="user-img">
				<%= gravatar_for @user %>
			</div>
			<div class="user-info-detail">
				<div class="user-name">
					<div class="title">Name:</div><%= @user.name %>
				</div>
				<div class="user-email">
					<div class="title">Email:</div><%= @user.email %>
				</div>
				<div class="rank-and-vote"><%= @user.rank %> point / <%= @user.totalvote %> total votes</div>
			</div>
		</section>
		<section class="request-form-section">
			<% if current_user.id == @user.id && current_user.admin? == false %>
				<%= render 'shared/request_form'%>
			<% end %>
		</section>
	</aside>
	<div class="col-md-8">
		<% if @user.requests.any? %>
			<h3 style="margin-left: 100px;" id="request-count">Requests <span class="badge"><%= @user.requests.count %></span></h3>
			<ol class="list-all-requests">
				<%= render @requests %>
				<%= will_paginate @requests %>
			</ol>
		<% end %>
		<% if current_user.admin? && @user.admin %>
			<% @requests = Request.all %>
			<div class="edit-form-and-list">
				<div class="content">
					<div class="title">Origin</div>
					<div class="edit-form">
						<%= form_for(@origin) do |f| %>
							<%= f.text_field :name, placeholder: "Name", class: "input" %>
							<%= f.submit "Add", class: "btn btn-primary" %>
						<% end %>
					</div>
					<div class="list-all">
						<ul>
							<% @origins = Origin.order("name ASC").all %>
							<% @origins.each do |origin| %>
								<li>
									<%= origin.name %>
									<% count = 0 %>
									<% @requests.each do |request| %>
										<% if origin.id == request.origin_id %>
											<% count += 1 %>
										<% end %>	
									<% end %>
									<% if count == 0 %>
										<%= link_to "Delete", origin, method: :delete, class: "delete-link" %>
									<% end %>
								</li>
								<hr>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="content">
					<div class="title">Product</div>
					<div class="edit-form">
						<%= form_for(@product) do |f| %>
							<%= f.text_field :name, placeholder: "Name", class: "input" %>
							<%= f.submit "Add", class: "btn btn-primary" %>
						<% end %>
					</div>
					<div class="list-all">
						<ul>
							<% @products = ProductType.order("name ASC").all %>
							<% @products.each do |product| %>
								<li>
									<%= product.name %>
									<% count = 0 %>
									<% @requests.each do |request| %>
										<% if product.id == request.product_type_id %>
											<% count += 1 %>
										<% end %>	
									<% end %>
									<% if count == 0 %>
										<%= link_to "Delete", product, method: :delete, class: "delete-link" %>
									<% end %>
								</li>
								<hr>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>